<div class="container"> 
       <mat-card >
        <mat-card-header>
            <mat-card-title> Curso de {{curso.nombre}} </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fres.cloudinary.com%2Fhdsqazxtw%2Fimage%2Fupload%2Fv1570710978%2Fcoderhouse.jpg&f=1&nofb=1&ipt=cb6a4597de48987fabbbbdd9876f8a485266e11be93e264d31cec9925ee91218&ipo=images">

        <mat-card-content> 
            <h3> Comisión: {{curso.comision}} </h3>
            <span>  Profesor/a: {{curso.profesor}} </span>
        </mat-card-content>
    </mat-card>
</div>
